.logo {
  height: 6em;
  padding: 1.5em;
}

.card {
  padding: 2em;
}
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-card {
  width: 400px;
  background: #1d2542;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

.auth-card h1 {
  margin-bottom: 10px;
}

.auth-card p {
  color: #bbb;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.auth-card input {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.auth-card button {
  padding: 15px;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #2b55ff;
}

.auth-card a {
  color: #6ca6ff;
  text-decoration: none;
}
/* Dashboard */

.dashboard {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 260px;
  background: #10172f;
  padding: 30px;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar a:hover {
  color: royalblue;
}

.dashboard-content {
  flex: 1;
  padding: 50px;
}
.dashboard-subtitle{
    margin-top:10px;
    margin-bottom:40px;
    color:#94a3b8;
    font-size:18px;
}

.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

.dashboard-card{
    background:#1e293b;
    border-radius:15px;
    padding:25px;
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-8px);
}

.dashboard-icon{
    font-size:45px;
    margin-bottom:20px;
}

.dashboard-card h3{
    margin-bottom:12px;
}

.dashboard-card p{
    color:#cbd5e1;
    margin-bottom:25px;
}

.dashboard-card button{
    width:100%;
}n
